# This is a template for connection to db. Complete with your data
SPRING_DATASOURCE_URL=jdbc:mysql://127.0.0.1:3306/yourdatabase
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
SPRING_DATASOURCE_NAME=